<div class="renderer">
  <div>
    <fieldset>
      <legend>Species Result</legend>
      <p>Species' name: {{model.name}}</p>
      <p>Species' classification: {{model.classification}}</p>
      <p>Species' designation: {{model.designation}}</p>
      <p>Species' average height: {{model.average_height}}</p>
      <p>Species' skin colors: {{model.skin_colors}}</p>
      <p>Species' hair colors: {{model.hair_colors}}</p>
      <p>Species' eye colors: {{model.eye_colors}}</p>
      <p>Species' average lifespan: {{model.average_lifespan}}</p>
      <p>Species' homeworld: {{model.homeworld}}</p>
      <p>Species' language: {{model.language}}</p>
    </fieldset>
  </div>
  <div *ngIf="showFilm">
    <fieldset>
      <legend>Film Result</legend>
      <p>Film Title: {{myFilm.title}}</p>
      <p>Film Episode: {{myFilm.episode_id}}</p>
      <p>Film Director: {{myFilm.director}}</p>
      <p>Film Producer: {{myFilm.producer}}</p>
    </fieldset>
  </div>
</div>
