fieldset {
  margin-bottom: 10px;
  background-color: rgba(50, 115, 220, 0.3);
}

legend {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}
