<fieldset>
  <legend>Search History</legend>
  <table>
    <tr>
      <th>Category</th>
      <th>Identifier</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let item of history">
      <td>{{item.category}}</td>
      <td>{{item.id}}</td>
      <td>{{item.time | date:'medium'}}</td>
      <td><button (click)="handleSearch(item)">Search</button></td>
    </tr>
  </table>
  <!--<ul>-->
    <!--<li *ngFor="let item of history">{{item.category}} {{item.id}}  {{item.time | date:'medium'}}</li>-->
  <!--</ul>-->
</fieldset>
