<div class="renderer">
  <div>
    <fieldset>
      <legend>People Result</legend>
      <p>Person's name: {{model.name}}</p>
      <p>Person's height: {{model.height}}</p>
      <p>Person's mass: {{model.mass}}</p>
      <p>Person's hair color: {{model.hair_color}}</p>
      <p>Person's skin color: {{model.skin_color}}</p>
      <p>Person's eye color: {{model.eye_color}}</p>
      <p>Person's birth year: {{model.birth_year}}</p>
      <p>Person's gender: {{model.gender}}</p>
      <p>Person's home: {{model.homeworld}}</p>
    </fieldset>
  </div>
  <div *ngIf="showFilm">
    <fieldset>
      <legend>Film Result</legend>
      <p>Film Title: {{myFilm.title}}</p>
      <p>Film Episode: {{myFilm.episode_id}}</p>
      <p>Film Director: {{myFilm.director}}</p>
      <p>Film Producer: {{myFilm.producer}}</p>
    </fieldset>
  </div>
</div>
