<div class="renderer">
  <div>
    <fieldset>
      <legend>Planet Result</legend>
      <p>Planet Name: {{model.name}}</p>
      <p>Planet Rotation Period: {{model.rotation_period}}</p>
      <p>Planet Orbital Period: {{model.orbital_period}}</p>
      <p>Planet Diameter: {{model.diameter}}</p>
      <p>Planet Climate: {{model.climate}}</p>
      <p>Planet Gravity: {{model.gravity}}</p>
      <p>Planet Terrain: {{model.terrain}}</p>
      <p>Planet Surface Water: {{model.surface_water}}</p>
      <p>Planet Population: {{model.population}}</p>
    </fieldset>
  </div>
  <div *ngIf="showFilm">
    <fieldset>
      <legend>Film Result</legend>
      <p>Film Title: {{myFilm.title}}</p>
      <p>Film Episode: {{myFilm.episode_id}}</p>
      <p>Film Director: {{myFilm.director}}</p>
      <p>Film Producer: {{myFilm.producer}}</p>
    </fieldset>
  </div>
</div>
