button {
	border: none;
	cursor: pointer;
	border: 1px solid #005AA1;
	color: white;
	background-color: #005AA1;
	transition-duration: 0.1s;
	-webkit-transition-duration: 0.1s;
	min-width: 90px;
	font-size: 11px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
  border-radius: 5px;
  margin-bottom: 5px;
}

button:hover {
	box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	background-color: #008CE6;
	cursor: pointer;
}

button.iconBtn>span:nth-child(1) {
	flex: 0.3;
	justify-content: center;
	align-items: center;
	display: flex;
}

button.iconBtn>span:nth-child(2) {
	flex: 0.7;
}

button {
	min-height: 20px;
}


fieldset {
	margin-bottom: 10px;
	background-color: rgba(50, 115, 220, 0.3);
}

legend {
	font-weight: bold;
	font-size: 11px;
	margin-bottom: 10px;
}

li {
  list-style: none;
}

.button-category {
  text-decoration: none; font: menu;
  width: 50px;
  display: inline-block; padding: 2px 8px;
  background: ButtonFace; color: ButtonText;
  border-style: solid; border-width: 2px;
  border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
  cursor: pointer;
}

.button-pressed {
  border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}
