<fieldset>
  <h2>Please select a category: </h2>
  <ul id="category-list">
      <li *ngFor='let item of category'><a class="button-category" (click)="getCategory($event, item)">{{item}}</a></li>
  </ul>
  <aside [hidden]='!selCategory'>Category Selected: {{selCategory}}</aside>
  <div class="side-by-side">
    <h2>Please specify the number: </h2>
    <input onkeydown="return false" [(ngModel)]="selNumber" type="number" min="1" max="5"> <br/><br/>
  </div>

  <aside [hidden]='!selNumber'>Specified number: {{selNumber}}</aside><br/><br/>
  <button (click)='confirmParam(selCategory, selNumber)'>Confirm</button>
</fieldset>



