<div>
  <div style="text-align:center">
    <img src='https://starwarsblog.starwars.com/wp-content/uploads/2018/02/star-wars-logo-new-tall.jpg' height="250px" width="900px">
  </div>
  <app-form [search]='selectedHistoryItem' (loadObject)='loadObjectHandler($event)'></app-form>
  <div class="results">
    <app-people-renderer (filmLoadError)="loadObjectHandler($event)" *ngIf="toShow.people.show" [model]='selectedObject'></app-people-renderer>
    <app-planet-renderer *ngIf="toShow.planets.show" [model]='selectedObject'></app-planet-renderer>
    <app-spaceship-renderer *ngIf="toShow.starships.show" [model]='selectedObject'></app-spaceship-renderer>
    <app-species-renderer *ngIf="toShow.species.show" [model]='selectedObject'></app-species-renderer>
    <app-vehicle-renderer *ngIf="toShow.vehicles.show" [model]='selectedObject'></app-vehicle-renderer>
    <app-history-renderer (searchEvent)="searchEventHandler($event)" [history]="history"></app-history-renderer>
  </div>
  <app-error *ngIf="isError"></app-error>

</div>
