<div class="renderer">
  <div>
    <fieldset>
      <legend>Starship Result</legend>
      <p>Starship Name: {{model.name}}</p>
      <p>Starship Model: {{model.model}}</p>
      <p>Starship Manufacturer: {{model.manufacturer}}</p>
      <p>Starship Cost in Credits: {{model.cost_in_credits}}</p>
      <p>Starship Length: {{model.length}}</p>
      <p>Starship Max Atmosphering Speed: {{model.max_atmosphering_speed}}</p>
      <p>Starship Crew: {{model.crew}}</p>
      <p>Starship Passengers: {{model.passengers}}</p>
      <p>Starship Cargo Capacity: {{model.cargo_capacity}}</p>
      <p>Starship Consumables: {{model.consumables}}</p>
      <p>Starship Hyperdrive Rating: {{model.hyperdrive_rating}}</p>
      <p>Starship Class: {{model.starship_class}}</p>
    </fieldset>
  </div>
  <div *ngIf="showFilm">
    <fieldset>
      <legend>Film Result</legend>
      <p>Film Title: {{myFilm.title}}</p>
      <p>Film Episode: {{myFilm.episode_id}}</p>
      <p>Film Director: {{myFilm.director}}</p>
      <p>Film Producer: {{myFilm.producer}}</p>
    </fieldset>
  </div>
</div>
