<div class="renderer">
  <div>
    <fieldset>
      <p>Vehicle Name: {{model.name}}</p>
      <p>Vehicle Model: {{model.model}}</p>
      <p>Vehicle Manufacturer: {{model.manufacturer}}</p>
      <p>Vehicle Cost in Credits: {{model.cost_in_credits}}</p>
      <p>Vehicle Length: {{model.length}}</p>
      <p>Vehicle Max Atmosphering Speed: {{model.max_atmosphering_speed}}</p>
      <p>Vehicle Crew: {{model.crew}}</p>
      <p>Vehicle Passengers: {{model.passengers}}</p>
      <p>Vehicle Cargo Capacity: {{model.cargo_capacity}}</p>
      <p>Vehicle Consumables: {{model.consumables}}</p>
      <p>Vehicle Class: {{model.vehicle_class}}</p>
    </fieldset>
  </div>
  <div *ngIf="showFilm">
    <fieldset>
      <legend>Film Result</legend>
      <p>Film Title: {{myFilm.title}}</p>
      <p>Film Episode: {{myFilm.episode_id}}</p>
      <p>Film Director: {{myFilm.director}}</p>
      <p>Film Producer: {{myFilm.producer}}</p>
    </fieldset>
  </div>
</div>
